numpy==1.18.1
torch==1.6.0
torchvision==0.7.0
tensorflow-gpu==2.3.0
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
protobuf==3.20.1
tqdm
kornia
pillow
scipy
tensorboard
scikit-image
albumentations
torchsummary
numba
einops
trimesh
face-alignment
ninja
imageio